
<div id="mainhome">
    <span style="cursor:pointer; float: left; font-size: 40px; color: white;" onclick="openNav()">&#9776;</span>
    
    <div>
      <span><b style="color: white; font-size: 50px; text-align: left; margin-left: 30px; text-shadow: 4px 2px black;"><i>WeightMate</i></b></span>
      <span style="color: white; font-size:18px; text-shadow: 4px 2px black;"><b>The Tracker that Cares.~</b></span>
    </div>
  
  </div >
    <script>
    function openNav() {
    document.getElementById("mySidenav").style.width = "250px";

    document.getElementById("mainhome").style.marginLeft = "250px";
    document.getElementById("aboutweightmate").style.marginLeft = "250px";
    document.getElementById("formulas").style.marginLeft = "250px";
    document.getElementById("members").style.marginLeft = "250px";
    document.getElementById("contactarea").style.marginLeft = "250px";

    document.getElementById("mainhome").style.filter = "brightness(60%)";
    document.getElementById("aboutweightmate").style.filter = "brightness(60%)";
    document.getElementById("formulas").style.filter = "brightness(60%)";
    document.getElementById("members").style.filter = "brightness(60%)";
    document.getElementById("contactarea").style.filter = "brightness(60%)";

    document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
    }

    function closeNav() {
    document.getElementById("mySidenav").style.width = "0";

    document.getElementById("mainhome").style.marginLeft= "0";
    document.getElementById("aboutweightmate").style.marginLeft= "0";
    document.getElementById("formulas").style.marginLeft= "0";
    document.getElementById("members").style.marginLeft= "0";
    document.getElementById("contactarea").style.marginLeft= "0";

    document.getElementById("mainhome").style.filter = "brightness(100%)";
    document.getElementById("aboutweightmate").style.filter = "brightness(100%)";
    document.getElementById("formulas").style.filter = "brightness(100%)";
    document.getElementById("members").style.filter = "brightness(100%)";
    document.getElementById("contactarea").style.filter = "brightness(100%)";

    document.body.style.backgroundColor = "white";
    }
    </script>

    <div class="container">
    <div class="profile">
    <h1>Profile</h1>
    <p>Edit your profile below.</p>
    </div>
    <hr>

    <div class="img">
    <img src="https://i.ibb.co/gS3KyCy/person-outline.png" alt = "Avatar" class = "avatar" id = "avatar">
    <p style align = "middle">Edit <a href="">picture</a>.</p>
    </div>
    <form action="/updateuser" method="POST">
      <div class="container2">
        <label for="firstname"><b>First Name</b></label>
        <input type="text" placeholder="Enter name" name="firstname" id="firstname" value={{{firstname}}} required>
        <p></p>
        <label for="name"><b>Last Name</b></label>
        <input type="text" placeholder="Enter name" name="lastname" id="lastname" value={{{lastname}}} required>
        <p></p>
        <label for="heightfeet"><b>Height Feet</b></label>
        <input type="text" placeholder="Enter height" name="heightfeet" id="heightfeet" value={{{heightfeet}}} required>
        <p></p>
        <label for="heightinch"><b>Height Inch</b></label>
        <input type="text" placeholder="Enter height" name="heightinch" id="heightinch" value={{{heightinch}}} required>
        <p></p>
        <label for="sex"><b>Sex</b></label>
        <p></p>
        {{#if_eq sex 'male'}}
            <input type="radio" id="male" name="gender" value="male" checked>
            <label for="male">Male</label><br><br>
            <input type="radio" id="female" name="gender" value="female" >
            <label for="female">Female</label>
        {{else}}
            <input type="radio" id="male" name="gender" value="male">
            <label for="male">Male</label><br><br>
            <input type="radio" id="female" name="gender" value="female" checked>
            <label for="female">Female</label>
        {{/if_eq}}
        <p></p>
      </div>

      <script>
          function showpass(){
          document.getElementById('changepass').style.display = "block";
          document.getElementById('opsw').required =true;
          document.getElementById('npsw').required =true;
          document.getElementById('npswrepeat').required =true;
          }
          function hidepass(){
          document.getElementById('changepass').style.display = "none";
          document.getElementById('opsw').required = false;
          document.getElementById('npsw').required = false;
          document.getElementById('npswrepeat').required = false;
          }
      </script>

      <div class="container3">
        <label for="country"><b>Country</b></label>
        <input type="text" placeholder="Change country" name="country" id="country" value={{{country}}} required>
        <p></p>
        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Change email" name="email" id="email" value={{{email}}} required>
        <p></p>
        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Change username" name="username" id="username" value={{{username}}} required>
        <p></p>
        <p>Change <a href="#avatar" onclick="showpass()">password?</a>.</p>

            <div id = "changepass" style = "display: none;">
            <label for="crpsw"><b>Current Password</b></label>
            <input type="password" placeholder="Current password" name="opsw" id="opsw">
            <p></p>   
            <label for="psw"><b>New Password</b></label>
            <input type="password" placeholder="New password" name="npsw" id="npsw">
            <p></p>
            <label for="psw-repeat"><b>Repeat Password</b></label>
            <input type="password" placeholder="Confirm new password" name="npswrepeat"  id="npswrepeat">
            <p></p>
            <button type="button" id ="passcancel" onclick="hidepass()">Cancel</button>
            </div>

      </div>

      <hr>
      <button type="submit" value="Confirm changes" name="userupdate" id="userupdate" class="btn btn-success">Confirm changes</button>

      </div>
      <button type="reset" class="cancelbtn" >Cancel changes</button>
    </form>
    <br>
    <br>
    <br>

    <hr>
    <script>
        function progress(){
        document.getElementById('progresscontainer').style.display = "block ";
        }
        function noprogress(){
        document.getElementById('progresscontainer').style.display = "none ";
        }

        function account(){
        document.getElementById('accountcontainer').style.display = "block ";
        }
        function noaccount(){
        document.getElementById('accountcontainer').style.display = "none";
        }

        function weight(){
        document.getElementById('weightcontainer').style.display = "block ";
        }
        function noweight(){
        document.getElementById('weightcontainer').style.display = "none";
        }

        function BMI(){
        document.getElementById('BMIcontainer').style.display = "block ";
        }
        function noBMI(){
        document.getElementById('BMIcontainer').style.display = "none";
        }

        function BFP(){
        document.getElementById('BFPcontainer').style.display = "block ";
        }
        function noBFP(){
        document.getElementById('BFPcontainer').style.display = "none";
        }

        function editweight(){
            var newinput = prompt('Enter new weight: ');
            if(newinput){
              document.getElementById('editweight').href += "&" + newinput;
            } 
        }
        function editBMI(){
            var newinput = prompt('Enter new BMI: ');
            if(newinput){
              document.getElementById('editBMI').href += "&" + newinput;
            } 
        }
        function editBFP(){
            var newinput = prompt('Enter new BFP: ');
            if(newinput){
              document.getElementById('editBFP').href += "&" + newinput;
            } 
        }
    </script>
    <div class="container">
    <h1 id="allweight">Weight</h1>
    <p>Manage your Weight inputs here.</p>
    <div class="container2">
      <p>Select weight inputs to be edited or deleted.</p>
       <table class="scrolldown"> 
          
        <thead> 
            <tr> 
                <th>Weight</th> 
                <th>Date</th> 
                <th>Edit</th> 
                <th>Delete</th> 
            </tr> 
        </thead> 
        <tbody> 
            {{#each weights}}
                <tr  class="border_bottom"> 
                    <td>{{this.value}}</td> 
                    <td>{{formatDate this.date}}</td> 
                    <td><a href="/users/editweight/{{this._id}}" onclick="editweight()" id="editweight">Edit</a></td> 
                    <td><a href="/users/deleteweight/{{this._id}}" onclick="return confirm('Are you sure to delete this record ?');" id="deleteweight">Delete</a></td> 
                </tr> 
            {{/each}}
        </tbody> 
      </table> 
      <br>
      <br>
      <h5>Delete Entire Weight Input</h5>
      <p>This will delete all of your data inputs in Weight.</p>
      <button type="button" id="deleteallweight" onclick="weight()">Delete All Weight</button>
      <div id="weightcontainer" style="display: none;">
        <h6>Are you sure?</h6>
        <button id="yesweight" onclick="window.location.href = '/users/deleteweightinputs'">Yes</button><button id="noweight" onclick="noweight()">No</button>
      </div>
      <br>
      <br>
    </div>
    <hr>

    <h1 id="allBMI">BMI</h1>
    <p>Manage your BMI inputs here.</p>
    <div class="container2">
      <p>Select BMI inputs to be edited or deleted.</p>
       <table class="scrolldown"> 
          
        <!-- Table head content -->
        <thead> 
            <tr> 
                <th>BMI</th> 
                <th>Date</th> 
                <th>Edit</th> 
                <th>Delete</th> 
            </tr> 
        </thead> 
          
        <tbody> 
            {{#each BMIs}}
                <tr  class="border_bottom"> 
                    <td>{{this.value}}</td> 
                    <td>{{formatDate this.date}}</td> 
                    <td><a href="/users/editBMI/{{this._id}}" onclick="editBMI()" id="editBMI">Edit</a></td> 
                    <td><a href="/users/deleteBMI/{{this._id}}" onclick="return confirm('Are you sure to delete this record ?');" id="deleteBMI">Delete</a></td> 
                </tr> 
            {{/each}}
        </tbody> 
      </table> 
      <br>
      <br>
      <h5>Delete Entire BMI Input</h5>
      <p>This will delete all of your data inputs in BMI.</p>
      <button type="button" id="deleteallBMI" onclick="BMI()">Delete All BMI</button>
      <div id="BMIcontainer" style="display: none;">
        <h6>Are you sure?</h6>
        <button id="yesBMI" onclick="window.location.href = '/users/deleteBMIinputs'">Yes</button><button id="noBMI" onclick="noBMI()">No</button>
      </div>
      <br>
      <br>
    </div>
    <hr>

    <h1 id="allBFP">Body Fat</h1>
    <p>Manage your Body Fat inputs here.</p>
    <div class="container2">
      <p>Select BMI inputs to be edited or deleted.</p>
       <table class="scrolldown"> 
        <thead> 
            <tr> 
                <th>Body Fat</th> 
                <th>Date</th> 
                <th>Edit</th> 
                <th>Delete</th> 
            </tr> 
        </thead> 
          
        <tbody> 
            {{#each BFPs}}
                <tr  class="border_bottom"> 
                    <td>{{this.value}}</td> 
                    <td>{{formatDate this.date}}</td> 
                    <td><a href="/users/editBFP/{{this._id}}" onclick="editBFP()" id="editBFP">Edit</a></td> 
                    <td><a href="/users/deleteBFP/{{this._id}}" onclick="return confirm('Are you sure to delete this record ?');" id="deleteBFP">Delete</a></td> 
                </tr> 
            {{/each}}
        </tbody> 
      </table> 
      <br>
      <br>
      <h5>Delete Entire BFP Input</h5>
      <p>This will delete all of your data inputs in BFP.</p>
      <button type="button" id="deleteallBFP" onclick="BFP()">Delete All BFP</button>
      <div id="BFPcontainer" style="display: none;">
        <h6>Are you sure?</h6>
        <button id="yesBFP" onclick="window.location.href = '/users/deleteBFPinputs'">Yes</button><button id="noBFP" onclick="noBFP()">No</button>
      </div>
      <br>
      <br>
    </div>
    <hr>

    <h1>Progress and Account</h1>
    <p>Manage your Account progress or deletion here.</p>
    </script>

    <div class="container2">
      <h5>Delete Entire Progress</h5>
      <p>This will delete all of your data inputs in Weight, BMI and Body Fat.</p>
      <button type="button" id="deleteprogress" onclick="progress()">Delete Progress</button>
      <div id="progresscontainer" style="display: none;">
        <h6>Are you sure?</h6>
        <button id="yesprogress" onclick="window.location.href = '/users/deleteinputs'">Yes</button><button id="noprogress" onclick="noprogress()">No</button>
      </div>

      <br>

      <h5>Delete Account</h5>
      <p>This will deactivate your account, delete all of your data inputs in Weight, BMI and Body Fat and delete your account from our website.</p>
      <button type="button" id="deleteaccount" onclick="account()">Delete Account</button>
      <div id="accountcontainer" style="display: none;">
        <h6>Are you sure?</h6>
        <button id="yesaccount" onclick="window.location.href = '/users/deleteaccount'" >Yes</button><button id="noaccount" onclick="noaccount()">No</button>
      </div>
    </div>

    <hr>
    
    
    <br>
    <br>
    <br>